.icon-profile {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .userinfo {
    position: absolute;
    top: 0;
    right: auto;
    margin-left: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  
  .user-box {
    top: 0;
    right: 0;
    padding: 10px;
    width: 400px;
    height: 100%;
    background-color: white;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    overflow-y: auto;
    transition: all 0.5s ease-in-out;
    transform: translateX(150%);
    display: flex;
    flex-wrap: wrap;
    z-index: 10000 !important;
    position: fixed !important;
  }
  
  .icon-profile:hover {
    opacity: 0.6;
    transform: scale(1.1);
    top: 0;
    right: 0;
  }
  
  .infoprofile {
    font-size: 10px;
  }
  
  .add-to-cart-box {
      position: fixed;
      display: flex;
      bottom: 0 !important; 
      align-self: center;
      align-content: center;
  }
  
  .super-big-text {
      font-size: 100px !important;
    }