/* Override Bootstrap styles for radio button */
@font-face {
    font-family: Poppins;
    src: url(../Fonts/Poppins-Regular.ttf);
  }

.form-check-input:checked {
    background-color: #121212 !important;
    color: #121212 !important;
    border-color: #121212 !important;
    outline: none !important;
}

/* Remove outline on focus */
.form-check-input:focus {
    outline: none !important;
}


.form-control:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 1.5px solid green;
    border-color: rgb(97, 97, 97) !important;
}

.second-container-initial {
    transition: opacity 0.5s;
}

.second-container-final {
    transition: opacity 0.5s;
}
