.header-space {
  padding-top: 90px;
}

.left-m-panel {
  width: 370px;
}

.menu-bar {
  background-color: #fff !important;
}

.selected-menu {
  font-size: 18px;
  letter-spacing: 1px;
  color: black;
  background-color: transparent !important;
  align-self: center;
  align-content: center;
  display: flex;
  transition: all 0.3s ease-in-out;
}

.menu-dropdown {
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
  transition: all 0.2s ease-in-out;
  border-radius: 25px;
  border: 2px rgb(49, 49, 49) solid !important;
}

.menu-dropdown:hover {
  background-color: rgb(49, 43, 43);
}

.menu-dropdown:hover .selected-menu {
  background-color: rgb(49, 43, 43);
  color: white;
}

.fa-bars {
  font-size: 13px;
  align-self: center;
  align-content: center;
}

.menu-item {
  transition: all 0.3s ease-in-out;
}

.menu-item:hover {
  transform: scale(1.1);

  padding-left: 23px;
  padding-right: 23px;
  border-left-width: 5px; /* Adjust the value as needed */
}

.menu-item:hover .menu-item-text {
  font-weight: bold !important;
}

.menu-item-text {
  cursor: pointer;
}

.head-menu-title {
  font-size: 36px !important;
  letter-spacing: 3px !important;
}

.menu-subtitle {
  font-size: 14px !important;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

#spinningElement {
  display: inline-block;
  transition: transform 1s;
}

#spinningElement.rotated {
  animation: spinAnimation 0.5s linear;
}

.file-input-container {
  position: relative;
  display: inline-block;
  cursor: pointer !important;
}

.custom-file-input {
  background: #333;
  border-radius: 10px;
  color: #fff;
  padding: 8px 12px;
  cursor: pointer !important;
  font-size: 12px;
  width: 150px;
  letter-spacing: 0.4px;
}

.pointer-cursor {
  cursor: pointer !important;
}

.actual-file-input {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer !important;
  height: 100%;
  width: 100%;
}

img {
  display: block;
  max-width: 100%;
}
.preview {
  overflow: hidden;
  width: 160px;
  height: 160px;
  margin: 10px;
  border: 1px solid red;
}
