.search-category {
    background-color: #3c3c3c;
    height: 40px;
    border: none;
    color: white;
}

.search-category:focus {
    background-color: #3c3c3c;
    border: none;
    color: white;
}

.add-category-btn{
    cursor: pointer;
    border-radius: 0;
    color: black;
    font-size: 15px;
}

